*{
    margin: 0;
    padding: 0;
}
.back{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(19, 19, 19);
}
.header{
    width: 100%;
}
.header ul {
    list-style-type: none;
}
.header ul li{
    display: inline;
}
.header ul li a{
    text-decoration: none;
    margin: 0 10px;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header{
    text-align: center;
}
.alc{
    font-size: 14px;
    font-weight: 500;
    color: white;
    font-family: 'Lucida Sans';
}
.home{
    font-size: 40px;
    font-weight: 600;
    color: rgb(188, 128, 9);
    font-family: 'Lucida Sans';
}

.bod{
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}
